{% extends "default/base.html.twig" %}



{% block content %}

    <div class="row">
        <h1>
            Недельные отчеты по закупкам
        </h1>



        <div class="col-lg-12">
            {% set first = true %}
            {% for i in dump|reverse %}
                <div class="ibox ">
                    <div class="ibox-title">
                        <h3>Закупки на {{ i.getCreatedAt().format('d.m.Y') }}</h3>

                        <div class="ibox-tools">
                            {% if first %}
                                <p><span class="badge badge-primary">Последний</span></p>
                                {% set first = false %}
                            {% else %}
                                <p><span class="badge badge-warning">Старый</span></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ibox-content">

                        <a href="{{ path('app_view_dump', {'id': i.getId() }) }}">
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-search"> Просмотр </i>
                            </button>
                        </a>
                        <a href="#">
                            <button class="btn btn-outline-success">
                                <i class="fa fa-table"> Скачать таблицу </i>
                            </button>
                        </a>

                    </div>

                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

{% block scripts %}

{% endblock %}