{% extends "default/base.html.twig" %}



{% block content %}

    <div class="row">
        <h2>
            В РАЗРАБОТКЕ!
        </h2>
    </div>


{% endblock %}

{% block scripts %}

{% endblock %}