{% extends "admin/base.html.twig" %}

{% block content %}


    <div class="m-3">
        <a href="{{ path('app_admin_users') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="glyphicon glyphicon-piggy-bank" ></div>
                Пользователи
            </button>
        </a>
    </div>

    <div class="m-3">
        <a href="{{ path('app_admin_cluster') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-trash"></div>
                Кластеры
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_admin_regions') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-map"></div>
                Регионы
            </button>
        </a>
    </div>
    <div class="m-3">
        <a href="{{ path('app_admin_cluster_access') }}" class="d-flex justify-content-center">
            <button class="btn btn-success col-lg-8" style="font-size: 2rem">
                <div class="fa fa-automobile"></div>
                Доступ к закупкам
            </button>
        </a>
    </div>


{% endblock %}
