{% extends "admin/base.html.twig" %}

{% block content %}
<div class="row">
    <div>
        <ul>
            <li>
                <a href="{{ path('app_admin_users') }}" >
                    <button class="btn btn-success">
                        <div class="fa fa-trash"></div>
                        Пользователи
                    </button>
                </a>
            </li>
            <li>
                <a href="#">
                    <button class="btn btn-success">
                        <div class="fa fa-trash"></div>
                        Пользователи
                    </button>
                </a>
            </li>
        </ul>

    </div>
</div>
{% endblock %}