{% extends "admin/base.html.twig" %}

{% block content %}

<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold">
                            Регионы
                        </h2>
                    </div>
                    <div class="ibox-content d-flex justify-content-center align-items-center">
                        <div class="col-lg-12 offset-1">
                            {% for i in regions %}
                                <a href="{{ path('app_admin_edit_region_info', {'id': i.getId()}) }}">
                                    <button class="btn btn-success m-1 col-lg-2" style="word-break: break-all">
                                        {{ loop.index }}.
                                        {{ i.getName() }}
                                    </button>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block scripts %}





{% endblock %}
