.table-item{
    height: 5rem;
    background-color: white;
    box-shadow: darkgrey;
    border-bottom: 2px solid darkgrey;
}
.table-item-hover{
    background-color: #d7d7d7;
}
.upper-menu{
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.block-shadow{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.table-title{
    font-size: 16pt;
    background-color: #e8e8e8;
    font-weight: bold;
    border-bottom: 2px dotted lightgrey;
}
.table-subtitle{
    font-size: 14pt;
    background-color: #f3f3f3;
    font-weight: bold;

}
.edit{
    color: steelblue;
    margin: 10px;
}
.delete{
    color: darkred;
    margin: 10px;
}
.white-block{
    background-color: white;
}
input[type="text"], textarea {
    /*background-color : #f8f8f8;*/
    border: solid 1px darkgrey;
}
.block-border{
    border: 2px solid darkgrey;
    border-collapse: collapse;
}
.row-terminator{
    margin-bottom: 20px;
}
.separate-row{
    line-height: 200px;
    background-color: darkgrey;
}
.main-bg{
    background: white;
}
.edge {
    image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges; /* Стандартное свойство */
}

/*Отступ логотипа*/
.pct-login {
    margin-bottom: 100px;
}

/*Тень границы*/
.borderElement {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 10px;
}

/*Анимация BG*/
.gradient-bg {
    background: linear-gradient(45deg, #b8bdfc, #454dc4, #b8bdfc, #454dc4);
    background-size: 400% 400%;
    animation: gradient 100s ease infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.transform-center {
    position: relative;
    top: 16%;
    transform: translateY(-50%);
}

.btn-purple{
    color: white;
    font-weight: bold;
    background-color: #616bff;
}

.left-bar-color-bg{
    background-color: #454dc4;
}

.left-bar-color-text{
    color: white;
}

.top-bar-color-bg{
    background-color: #5961ff;
}

.mid-color-bg{
    background-color: #FF616B;
}

.warning-color-bg{
    background-color: #bbbbbd;
}

.btn-gray-all{
    background-color: #dfdfdf;
    color: black;
    border-color: #dfdfdf;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
}

.btn_position{
    display: flex;
    align-items: center;
}

/*Форма кнопок главной страницы*/

.btn_smooth_border {
    border-radius: 35px;
}

.btn_hard_border {
    border-radius: 0px;
}

.btn-start-landing{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #fff;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 400;
    border: 0 solid transparent;
    border-radius: 0;
    line-height: 50px;
}

.round_img {
    width: 150px; height: 150px;
    border-radius: 50%; /* Радиус скругления */
    box-shadow: 0 0 10px #444;
    background-size: auto 150px;
}








