{% extends 'default/base.html.twig' %}

{% block content %}
    <h2>
        Комплекс мер (дорожная карта)
    </h2>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="ibox">

            </div>
        </div>
    </div>
{% endblock %}
