{% extends "default/base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>
                        Комплекс мер (дорожная карта)
                    </h2>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="col-md-1 text-center">№ п/п</td>
                                <td class="col-md-6 text-center">Наименование</td>
                                <td class="col-md-4 text-center">Срок</td>
                                <td class="col-md-1 text-center"></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}