<section data-id="documentation" class="ed-section sm-pb-0">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 id="text_size_header" class="text-center  text-white text-white text_adaptive_size_header">Нормативная документация</h2>
                    <div class="divider divider-alt divider-center divider-light"></div>
                    <p class="lead mb-50 text-center text-white"></p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="icon-box mb-30 text-center">
                        <div class="icon-box-icon text-white">
                            <article class="carousel-item portfolio-item web">
                                <div class="project-container mb-0 scale_img_documents">
                                    <a href="{{ path('app_landing_documentation', {'type': 'cluster_files'}) }}" target="_blank">
                                        <img src="{{ asset('/img/img_start_landing/businessmen-and-businesswomen-meeting.jpg') }}" alt class="scale_img_documents">
                                        <div class="overlay">
                                        </div>

                                        <div class="project-details">
                                            <h4 class="h5 project-title heading-uppercase text_scale_img_documents" style="height: 20%">Нормативная документация образовательно-производственных центров (кластеров)</h4>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <h3 class="h4 text-white"></h3>
                        <p class="text-white"></p>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6">
                    <div class="icon-box mb-30 text-center">
                        <div class="icon-box-icon text-white">
                            <article class="carousel-item portfolio-item web">
                                <div class="project-container mb-0 scale_img_documents">
                                    <a href="{{ path('app_landing_documentation', {'type': 'workshops_files'}) }}" target="_blank">
                                        <img src="{{ asset('/img/img_start_landing/closeup-of-hands-holding-stack-of-books_53876-20475.jpg') }}" alt>
                                        <div class="overlay">
                                        </div>


                                        <div class="project-details">
                                            <h4 class="h5 project-title heading-uppercase text_scale_img_documents" style="height: 20%">Нормативная документация для создания современных мастерских (учебно-производственных участков)</h4>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <h3 class="h4 text-white"></h3>
                        <p class="text-white"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>