<!-- Footer -->
<footer class="site-footer footer-mobile-light footer-content-light footer-mobile-content-dark">
    <div class="container-fluid">
        <p id="text_size_subtitle_1" class="copyright text_adaptive_size_header" style="font-size: 10px"><label>© 2022</label> <label>&nbsp&nbsp Телефон: +7 (977) 978-29-43 &nbsp</label> <label>&nbsp &nbsp Почта: cluster@firpo.ru &nbsp &nbsp </label> <label><a href="https://firpo.ru/privacy-policy/" target="_blank"> <u>Политика конфиденциальности </u></a></label></p>
{#        <nav class="socials-icons">#}
{#            <ul>#}
{#                #}{#                    <li style="margin-right: 20px"><a href="https://день-спо.рф/" class="social-icon"><i><img src="{{ asset('/img/ico/Day_SPO_white.png') }}" alt></i></a></li>#}
{#                #}{#                    <li style="margin-right: 20px"><a href="https://firpo.ru/" class="social-icon"><img src="{{ asset('/img/ico/rpop_icon.png') }}" alt></a></li>#}
{#            </ul>#}
{#        </nav>#}
    </div>
</footer>