<!-- Global Overlay -->
<div class="global-overlay zoom-onload">
    <div class="overlay">
        <div class="overlay-wrapper">
            <!-- Overlay Background -->
            <div class="overlay-inner cover-background" style="background-image: url({{ asset('img/img_start_landing/6.jpg') }});"></div>
            <div class="overlay-inner background-dark-5 opacity-30"></div>
            <div class="overlay-shape">
                <div class="shape-container">
                    <div class="overlay-inner background-dark-5 opacity-70"></div>
                </div>
            </div>
        </div>
    </div>
</div>