<!-- Main Header -->
<header class="main-header header-mobile-light menu-light menu-mobile-dark">
    <div class="header-block brand-block">

        <!-- Header Logo -->
        <div class="logo-block">
            <a class="header-logo load-content" href="#home">
                <img src="" alt class="logo-light">
                <img src="" alt class="logo-dark">
            </a>
        </div>
        <button type="button" class="nav-toggle">
            <span></span>
        </button>
    </div>
    <!-- Header Nav -->
    <nav class="header-block nav-block header-nav">

        <ul id="menu" class="nav">
            <div>
                <div class="btn_position" style="display: grid">
                    <a href="{{ path('app_login') }}" style="text-align: right" class="btn-start-landing m-3 btn_hard_border text_adaptive_size_rightbar" target="_blank"><li>ЛИЧНЫЙ КАБИНЕТ</li></a>
                </div>
            </div>
            <li data-menuanchor="home" class="active"><a href="#home" class="moveto text_adaptive_size_rightbar">Главная</a></li>
            <li data-menuanchor="events"><a href="#events" class="moveto text_adaptive_size_rightbar">Мероприятия</a></li>
            <li data-menuanchor="map" id="hide-on-mobile"><a href="#map" class="moveto text_adaptive_size_rightbar">Карта</a></li>
            <li data-menuanchor="il"><a href="#il" class="moveto text_adaptive_size_rightbar">Инфраструктурные <br> листы</a></li>
            <li data-menuanchor="documentation"><a href="#documentation" class="moveto text_adaptive_size_rightbar">Документация</a></li>
            <li data-menuanchor="design_projects"><a href="#design_projects" class="moveto text_adaptive_size_rightbar">Дизайн-проекты</a></li>
            <li data-menuanchor="employees"><a href="#employees" class="moveto text_adaptive_size_rightbar">Сотрудники</a></li>
            <li data-menuanchor="feedback"><a href="#feedback" class="moveto text_adaptive_size_rightbar">Обратная связь</a></li>
        </ul>
    </nav>
</header>
