<!-- Main Header -->
<header class="main-header header-mobile-light menu-light menu-mobile-dark">
    <div class="header-block brand-block">

        <!-- Header Logo -->
        <div class="logo-block">
            <a class="header-logo load-content" href="#home">
                <img src="" alt class="logo-light">
                <img src="" alt class="logo-dark">
            </a>
        </div>
        <button type="button" class="nav-toggle">
            <span></span>
        </button>
    </div>
    <!-- Header Nav -->
    <nav class="header-block nav-block header-nav">

        <ul id="menu" class="nav">
            <div>
                <div class="btn_position">
                    <a href="{{ path('app_login') }}" class="btn-start-landing m-3 btn_hard_border" target="_blank" ><li style="margin-left: 25px">ЛИЧНЫЙ КАБИНЕТ</li></a>
                </div>
            </div>
            <li data-menuanchor="home" class="active"><a href="#home" class="moveto">Главная</a></li>
            <li data-menuanchor="events"><a href="#events" class="moveto">Мероприятия</a></li>
            <li data-menuanchor="map" id="hide-on-mobile"><a href="#map" class="moveto">Карта</a></li>
            <li data-menuanchor="partners"><a href="#partners" class="moveto">Партнёры проектов</a></li>
            <li data-menuanchor="il"><a href="#il" class="moveto">ИЛ</a></li>
            <li data-menuanchor="documentation"><a href="#documentation" class="moveto">Документация</a></li>
            <li data-menuanchor="design_projects"><a href="#design_projects" class="moveto">Дизайн-проекты</a></li>
            <li data-menuanchor="employees"><a href="#employees" class="moveto">Сотрудники</a></li>
            <li data-menuanchor="feedback"><a href="#feedback" class="moveto">Обратная связь</a></li>
        </ul>
    </nav>
</header>
