<!-- Главная -->
<style>
    @media screen and (max-width: 1500px) {

        #hide-on-mobile {

            display: none;
        }
    }

    @media screen and (min-width: 1501px) {

        #hide-on-pc {

            display: none;
        }
    }
</style>

<section data-id="home" class="ed-section fullscreen-element sm-pt-180 sm-pb-180 ">
    <div class="table-container">
        <div class="table-content">
            <div class="container-fluid sm-text-center">
                <div id="hide-on-mobile" class="row">
                    <div class="col-lg-6 col-lg-offset-1 col-md-7" data-animation="fadeInUp" data-animation-delay="100">
                        <div class="ed-slider ed-slick" data-arrows="false" data-dots="false" data-fade="true" data-autoplay="true">
                            <div class="slider-item">
                                <h1 id="text_size_header" class="font-large text-white text_transfer text_adaptive_size_header" style="margin-top: 15px;font-size: 30px; line-height: 45px">Федеральный центр сопровождения развития материально-технической базы</h1>
{#                                <h1 class="font-large text-white" style="font-size: 30px; line-height: 40px">развития материально-технической базы</h1>#}
                            </div>
                            <div class="slider-item">
                                <h1 id="text_size_header" class="font-large text-white text_transfer text_adaptive_size_header" style="margin-top: 15px;font-size: 30px; line-height: 45px">Учебной и производственной инфраструктуры в системе среднего профессионального образования</h1>
{#                                <h1 class="font-large text-white" style="font-size: 30px; line-height: 40px">в системе среднего профессионального образования</h1>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-1 col-md-7">
                        <p id="text_size_subtitle_2" class="lead text-white animated onstart text_adaptive_size_subtitle" style="margin-right: 100px; font-size: 14px; line-height: 25px" data-animation="fadeInUp" data-animation-delay="600">Федеральный центр сопровождения развития материально-технической базы, учебной и производственной инфраструктуры в системе среднего  профессионального образования осуществляет свою деятельность в рамках реализации мероприятий государственной программы Российской Федерации «Развитие образования»:
                        <p id="text_size_subtitle_2" class="lead text-white animated onstart text_adaptive_size_subtitle" style="margin-right: 100px; font-size: 14px; line-height: 25px" data-animation="fadeInUp" data-animation-delay="600">   - государственная поддержка профессиональных образовательных организаций в целях обеспечения соответствия их  материально-технической базы современным требованиям федерального проекта «Молодые профессионалы» (Повышение конкурентоспособности профессионального образования)» национального проекта «Образование»;
                        <p id="text_size_subtitle_2" class="lead text-white animated onstart text_adaptive_size_subtitle" style="margin-right: 100px; font-size: 14px; line-height: 25px" data-animation="fadeInUp" data-animation-delay="600">   - государственная поддержка развития образовательно-производственных центров (кластеров), создаваемых на основе интеграции образовательных организаций, реализующих образовательные программы среднего профессионального образования, и организаций, действующих в реальном секторе экономики, ФП «Профессионалитет»
                        {#                                <div class="btn-group-alt animated onstart" data-animation="fadeInUp" data-animation-delay="900">#}
                        {#                                    <!--											<a href="#subscribe-modal" class="btn btn-white btn-noradius open-popup-link">Subscribe</a>-->#}
                        {#                                    <!--											<a href="#about" class="btn btn-white btn-border icon-right btn-noradius moveto">Load More <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->#}
                        {#                                </div>#}
                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px" data-animation="fadeInUp" data-animation-delay="600">Цель:<br>
                            Основной целью деятельности Федерального центра является методическое, информационно-технологическое и <br> экспертно-аналитическое сопровождение (мониторинг) реализации мероприятий</p>
                        <div class="btn-group-alt animated onstart text_adaptive_size_subtitle" data-animation="fadeInUp" data-animation-delay="900">
                            {#                                    <a href="#subscribe-modal" class="btn btn-white btn-noradius open-popup-link">Subscribe</a>#}
                            <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-left: 10px" data-animation="fadeInUp" data-animation-delay="600">Телефоны горячей линии:
                                По вопросам инфраструктуры<br>
                                +7 (977) 978-29-43;<br>
                                +7 (495) 114-55-02 (доб. 7);<br>
                                +7 (495) 114-55-21 (доб. 310);<br>
                                +7 (495) 114-55-21 (доб. 105);<br>
                                E-mail: cluster@firpo.ru</p>
{#                            <a id="text_size_subtitle_1" href="#feedback" class="btn btn-white btn-border icon-right btn-noradius moveto text_adaptive_size_subtitle">Обратная связь<i class="fa fa-angle-right" aria-hidden="true"></i></a>#}
                        </div>
                    </div>
                </div>

                <div id="hide-on-pc" class="row">
                    <div class="col-lg-12" data-animation="fadeInUp" data-animation-delay="100">
                        <div class="ed-slider ed-slick" data-arrows="false" data-dots="false" data-fade="true" data-autoplay="true">
                            <div class="slider-item">
                                <h1 id="text_size_header" class="font-large text-white text_transfer text_adaptive_size_header" style="margin-top: 15px;font-size: 30px; line-height: 45px">Федеральный центр сопровождения развития материально-технической базы Учебной и производственной инфраструктуры в системе среднего профессионального образования</h1>
                                {#                                <h1 class="font-large text-white" style="font-size: 30px; line-height: 40px">развития материально-технической базы</h1>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 ">
                        <p id="text_size_subtitle_2" class="lead text-white animated onstart text_adaptive_size_subtitle" style="margin-right: 100px; font-size: 14px; line-height: 25px" data-animation="fadeInUp" data-animation-delay="600">Федеральный центр сопровождения развития материально-технической базы, учебной и производственной инфраструктуры в системе среднего  профессионального образования осуществляет свою деятельность в рамках реализации мероприятий государственной программы Российской Федерации «Развитие образования»:
                        <p id="text_size_subtitle_2" class="lead text-white animated onstart text_adaptive_size_subtitle" style="margin-right: 100px; font-size: 14px; line-height: 25px" data-animation="fadeInUp" data-animation-delay="600">   - государственная поддержка профессиональных образовательных организаций в целях обеспечения соответствия их  материально-технической базы современным требованиям федерального проекта «Молодые профессионалы» (Повышение конкурентоспособности профессионального образования)» национального проекта «Образование»;
                        <p id="text_size_subtitle_2" class="lead text-white animated onstart text_adaptive_size_subtitle" style="margin-right: 100px; font-size: 14px; line-height: 25px" data-animation="fadeInUp" data-animation-delay="600">   - государственная поддержка развития образовательно-производственных центров (кластеров), создаваемых на основе интеграции образовательных организаций, реализующих образовательные программы среднего профессионального образования, и организаций, действующих в реальном секторе экономики, ФП «Профессионалитет»
                            {#                                <div class="btn-group-alt animated onstart" data-animation="fadeInUp" data-animation-delay="900">#}
                            {#                                    <!--											<a href="#subscribe-modal" class="btn btn-white btn-noradius open-popup-link">Subscribe</a>-->#}
                            {#                                    <!--											<a href="#about" class="btn btn-white btn-border icon-right btn-noradius moveto">Load More <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->#}
                            {#                                </div>#}
                        <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px" data-animation="fadeInUp" data-animation-delay="600">Цель:<br>
                            Основной целью деятельности Федерального центра является методическое, информационно-технологическое и <br> экспертно-аналитическое сопровождение (мониторинг) реализации мероприятий</p>
                        <div class="btn-group-alt animated onstart text_adaptive_size_subtitle" data-animation="fadeInUp" data-animation-delay="900">
                            {#                                    <a href="#subscribe-modal" class="btn btn-white btn-noradius open-popup-link">Subscribe</a>#}
                            <p id="text_size_subtitle_1" class="lead text-white animated onstart text_adaptive_size_subtitle" style="font-size: 14px; margin-left: 10px" data-animation="fadeInUp" data-animation-delay="600">Телефоны горячей линии:
                                По вопросам инфраструктуры<br>
                                +7 (977) 978-29-43;<br>
                                +7 (495) 114-55-02 (доб. 7);<br>
                                +7 (495) 114-55-21 (доб. 310);<br>
                                +7 (495) 114-55-21 (доб. 105);<br>
                                E-mail: cluster@firpo.ru</p>
                            {#                            <a id="text_size_subtitle_1" href="#feedback" class="btn btn-white btn-border icon-right btn-noradius moveto text_adaptive_size_subtitle">Обратная связь<i class="fa fa-angle-right" aria-hidden="true"></i></a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>