<section data-id="partners" class="ed-section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center text-white">Партнёры проектов</h2>
                <div class="divider divider-alt divider-center divider-light"></div>
            </div>
        </div>
    </div>
    <div class="container col-lg-9 col-lg-offset-1 col-md-6" >
        <div id="portfolio-gallery" class="ed-carousel2 ed-slick dots-classic dots-light dots-outside">

            {% set start = 0 %}
            {% set step = 5 %}
            {% set partnersPage = partners|length / step %}
            {% for j in 1..partnersPage|round(0, 'ceil') %}
                <div class="carousel-item2 " style=" height: 380px; background-color: white">
                    <div class="partners-carousel-container">
                        {% for i in partners|slice(start, step) %}
                            <div>
                                <img src="{{ asset('/uploads/partnersLogo/'~i.img) }}" alt>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                {% set start = start + step %}


            {% endfor %}


        </div>
    </div>
</section>