{{ include('/default/header.html.twig') }}

<div>
    Admin panel
</div>


<div id="content">{% block content %}{% endblock %}</div>

{#{{ include('/admin/templates/users.html.twig') }}#}

{{ include('/default/footer.html.twig') }}