{% extends 'default/base.html.twig' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Справки
                    </h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="col-md-10">Название</td>
                                <td class="col-md-2">Скачать</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Справка о контрактации и расходовании средств в рамках оснащения образовательно-производственного центра (кластера)
                                </td>
                                <td>
                                    <a href="{{ path('app_region_certificate_download', {'id': user.getId()}) }}">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-download">
                                                Скачать
                                            </i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}