{% extends 'default/base.html.twig' %}

{% block content %}
    <div class="row mt-5">
        <div class="offset-lg-3 col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>
                        Контрактация - Кассовые расходы (История)

                    </h2>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table-bordered table">
                        <thead>
                            <tr>
                                <td>
                                    Дата создания
                                </td>
                                <td>
                                    Скачать файл
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in contractingTables %}
                            <tr>
                                <td>
                                    {{ i.getCreatedAt().format('d.m.Y') }}
                                </td>
                                <td>
                                    <a href="{{ path('app_download_file_by_route', {'file': i.getName(), 'route': 'contracting_tables_directory' }) }}">
                                        <i class="fa fa-download">
                                            Скачать
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="ibox-footer">

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
