{% extends 'default/base.html.twig' %}

{% block content %}
    {{ include('default/inDevelopment.html.twig') }}
    <div class="row mt-3">
        <div class="offset-lg-3 col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        История
                    </h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="col-md-2">Дата</td>
                                <td class="col-md-2">Тип</td>
                                <td class="col-md-1">Скачать</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in 1..10 %}
                                <tr>
                                    <td>12.12.12</td>
                                    <td>afafafa</td>
                                    <td>
                                        <a href="#">
                                            <button class="btn btn-success">
                                                <i class="fa fa-download"></i>
                                                Скачать
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

{% endblock %}
