{% extends "default/base.html.twig" %}


{% block content %}

<a href="{{ path('app_test_download') }}">
    <button class="btn">
        aaaa
    </button>
</a>

{% endblock %}

{% block scripts %}
    <!-- Mainly scripts -->


    <script src="{{ asset('js/popper.min.js') }}"></script>

    <script src="{{ asset('js/inspinia.js') }}"></script>

{% endblock %}