{% extends "default/base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-titled"></div>
                <div class="ibox-content">
                    <a href="{{ path('app_admin_download_cluster_financing') }}">
                        <button class="btn btn-primary">
                            <i class="fa fa-download"></i>
                            Объем финансового обеспечения
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
