{% extends "default/base.html.twig" %}




{% block content %}
<div class="row animated fadeInRight">
    <div class="col-sm-10 offset-sm-1 ">
        <div class="wrapper wrapper-content ">
            <div class="ibox-content block-shadow ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h2 style="font-weight: bold">
                            Мои кластеры
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-10">
            {% for i in myClusters %}
                {% set cluster = i.getClusterId() %}
                {% set buttons %}
                    <div style="margin-left: 10px">
                        <a href="{{ path('app_inspector_remove_favourite', {'id': i.getId()}) }}">
                            <button class="btn btn-danger" >
                                Убрать из избранного
                            </button>
                        </a>
                    </div>
                {% endset %}
                {{ include('default/clusterCard.html.twig', {'i': cluster}) }}
            {% endfor %}


        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

{% endblock %}