{% extends "default/base.html.twig" %}




{% block content %}

    <div class="row ">
        <h1 >
            Мои кластеры
        </h1>
    </div>
    <div class="row col-lg-10">
        {% for i in clusters %}
            {% set cluster = i.getClusterId() %}
            {{ include('default/clusterCard.html.twig', {'i': cluster}) }}
        {% endfor %}


    </div>


{% endblock %}

{% block scripts %}

{% endblock %}