<div style="margin-left: 15px;margin-bottom: 1rem" class="row">
    <a href="{{ path('app_journalist') }}">
        <button class="btn btn-outline-dark">
            Назад
        </button>
    </a>
</div>