{% extends "journalist/index.html.twig" %}





{% block content %}
    <div class="row">
        <h1>Обрезка картинки</h1>
    </div>
    <div class="row">
        <div class="col-md-6 border-info">
            <div>
                <img id="cropperImage" src="{{ asset('./img/placeholder/Placeholder-1.png') }}" style="max-width: 100%">
            </div>

        </div>
        <div class="col-md-6">
            <div class="btn-group">
                <label title="Upload image file" for="inputImage" class="btn btn-primary">
                    <input type="file" accept="image/*" name="file" id="inputImageCropper" class="hide">
                </label>
                <label title="Donload image" id="download" class="btn btn-info">Скачать</label>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('./js/cropper/cropper.js') }}"></script><!-- Cropper.js is required -->
    <script src="{{ asset('./js/cropper/jquery-cropper.js') }}"></script>
    <script>
        $(document).ready(function(){
            var $image = $('#cropperImage');

            $image.cropper({
                aspectRatio: 3 / 4,
                crop: function(event) {

                }
            });
            var cropper = $image.data('cropper');

            var $inputImage = $("#inputImageCropper");
            if (window.FileReader) {
                $inputImage.change(function() {
                    var fileReader = new FileReader(),
                        files = this.files,
                        file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }
            $("#download").click(function() {
                var imagem = cropper.getCroppedCanvas().toDataURL("image/png").replace("image/png", "application/octet-stream");
                var link = document.createElement('a');
                link.addEventListener('click', function () {
                    link.href = imagem;
                    link.download = "cropped_img.png";
                },false);
                link.click();
            });
        })
    </script>
{% endblock %}