{% extends 'default/base.html.twig' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Поиск</h5>
                </div>
                <div class="ibox-content">

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">

            {% for i in bas %}
                {{ include('bas_curator/bas_card.html.twig') }}
            {% endfor %}

    </div>
    <div class="navigation mb-5">
        {{ knp_pagination_render(bas, 'default/twitter_bootstrap_v3_pagination.html.twig') }}
    </div>
    <div class="row mt-50">

    </div>
{% endblock %}
