<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div>
                    <a href="{{ app.request.headers.get('referer') }}">
                        <h1>
                            <div class="fa fa-long-arrow-left fa-2xl">       </div>
                            000005804. Строительство объекта "Школа в с. Островное"
                        </h1>
                    </a>
                    <h2>
                        <nav>Редактирование</nav>
                    </h2>
                </div>
            </div>
            <div class="row">
{#                Общие сведения#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr >
                        <th class="col-lg-4">Общие сведения</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Год</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Регион</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Региональный проект</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Направление расходов</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ГРБС</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Заказчик</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Объект закупки</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
{#                #}
                <table class="table block-shadow white-bg">
                    <thead>
                        <tr>
                            <th class="col-lg-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Способ определения поставщика</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Закон</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
{#                Начальная (максимальная) цена контракта#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Начальная (максимальная) цена контракта</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Всего</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Федеральный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Региональный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Муниципальный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Внебюджетные средства</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
{#                Срок размещения закупки в ЕИС#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Срок размещения закупки в ЕИС</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Плановый. Начало</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Плановый. Конец</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Фактический</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
{#                #}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ссылка на закупку на портале zakupki.gov.ru, прочие площадки</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер закупки</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
{#                Срок заключения контракта/договора#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Срок заключения контракта/договора</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Плановый</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Фактический</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
{#                Цена контракта/договора#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Цена контракта/договора</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Всего</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>в т.ч. отечественного производства</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Федеральный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Региональный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Муниципальный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Внебюджетные средства</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>


                    </tbody>
                </table>
{#                Отклонение цены контракта/договора от начальной (максимальной) цены контракта/договора#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Отклонение цены контракта/договора от начальной (максимальной) цены контракта/договора</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Всего</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Федеральный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Региональный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Муниципальный бюджет</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Внебюджетные средства</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Причина (обоснование)</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
{#                Поставщик#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Поставщик</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ИНН</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>КПП</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Наименование</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
{#                #}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Планируемый срок поставки (подписание акта), дата</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
{#              График платежей по федеральному бюджету#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-2">График платежей по федеральному бюджету</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr class="table-title">
                            <td>№</td>
                            <td>Тип платежа</td>
                            <td>Срок исполнения платежа</td>
                            <td>Плановая сумма, руб.</td>
                            <td>Фактическая сумма, руб.</td>
                            <td>Отклонение фактической от плановой суммы, руб.</td>
                            <td>Причина (обоснование)</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Итог:</strong></td>
                            <td>
                                <div class="col-lg-12">
                                   0
                                </div>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    0
                                </div>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    0
                                </div>
                            </td>
                            <td> </td>
                        </tr>

                    </tbody>
                </table>
{#                Состав закупки#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-2">Состав закупки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-title">
                        <td>Категория</td>
                        <td>Количество, шт.</td>
                        <td>Сумма, руб.</td>
                        <td>в т.ч. отечественного производства, руб.</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>>
                        </td>
                    </tr>


                    </tbody>
                </table>
{#                  #}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Примечание (причины, обоснование)</td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
{#              Позиции оборудования инфраструктурного листа#}
                <table class="table block-shadow white-bg">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Позиции оборудования инфраструктурного листа</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-title">
                        <td>Наименование оборудования (РВПО)</td>
                        <td>Статус</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-12">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>


                    </tbody>
                </table>
{#                дата создания/версия#}
                <table class="table block-shadow white-bg">
                    <thead>
                        <tr>
                            <th class="col-lg-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Дата создания</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Дата обновления</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Версия</td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>


            </div>
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <div class="pull-right">
                        <button class="btn btn-success">
                            <div class="fa fa-save fa-1x"></div>
                            Сохранить
                        </button>
                        <button class="btn btn-danger ">
                            <div class="fa fa-minus-circle fa-1x"></div>
                            Отменить
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>