<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div>
                    <a href="/purchases/">
                        <h1>
                            <div class="fa fa-long-arrow-left fa-2xl">       </div>
                            Название таблицы
                        </h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-end col-lg-12" >
                    <a href="#"><div class="fa fa-pencil fa-3x edit"></div></a>
{#                    <a href="{{ path(app.request.attributes.get('_route'),#}
{#                        app.request.attributes.get('_route_params')) }}/edit"><div class="fa fa-pencil fa-3x edit"></div></a>#}
                    <a href="#"><div class="fa fa-trash fa-3x delete"></div></a>
                </div>

{#
Наименование / Объект закупки (В соответсвии с извещением о проведении закупки)
Способ определения поставщика (подрядчика, исполнителя)

Начальная (максимальная) цена контракта (РУБЛИ)
    ВСЕГО
    средства федерального бюджета
    средства субъекта РФ
    внебюджетные средства
        средства работодателей
        средства образовательной организации

Срок размещения закупки в ЕИС / ЭМ
    Дата публикации извещения
    Дата окончания подачи заявок
    Дата подведения итогов

Ссылка на закупку на портале zakupki.gov.ru, прочие площадки
Номер закупки

Перенос срока размещения закупки в ЕИС / ЭМ
    дата
    причина (обоснование)

Дата заключения контракта / договора

Поставщик (подрядчик, исполнитель)
    Наименование организации-поставщика (подрядчика, исполнителя)
    ИНН
    КПП

Цена контракта / договора (РУБЛИ)
    ВСЕГО
    средства федерального бюджета
    средства субъекта РФ
    внебюджетные средства
        средства работодателей
        средства образовательной организации

Срок поставки (подписание акта), дата
Комментарии / Примечания

#}


{%
    set table =
    [
       ["Наименование / Объект закупки (В соответсвии с извещением о проведении закупки)", "text"],
       ["Способ определения поставщика (подрядчика, исполнителя)", "text"],
       ["Начальная (максимальная) цена контракта (РУБЛИ)", "title"],
       ["средства федерального бюджета", "num"],
       ["средства субъекта РФ", "num"],
       ["внебюджетные средства", "subtitle"],
       ["средства работодателей", "num"],
       ["средства образовательной организации", "num"],
       ["Срок размещения закупки в ЕИС / ЭМ", "title"],
       ["Дата публикации извещения", "date"],
       ["Дата окончания подачи заявок", "date"],
       ["Дата подведения итогов", "date"],
       ["Ссылка на закупку на портале zakupki.gov.ru, прочие площадки", "text"],
       ["Номер закупки", "text"],
       ["Перенос срока размещения закупки в ЕИС / ЭМ", "title"],
       ["дата", "date"],
       ["причина (обоснование)", "text"],
       ["Дата заключения контракта / договора", "text"],
       ["Поставщик (подрядчик, исполнитель)", "title"],
       ["Наименование организации-поставщика (подрядчика, исполнителя)", "text"],
       ["ИНН", "num"],
       ["КПП", "num"],
       ["Цена контракта / договора (РУБЛИ)", "title"],
       ["средства федерального бюджета", "num"],
       ["средства субъекта РФ", "num"],
       ["внебюджетные средства", "subtitle"],
       ["средства работодателей", "num"],
       ["средства образовательной организации", "num"],
       ["Срок поставки (подписание акта), дата", "date"],
       ["Комментарии / Примечания", "text"]
    ]


%}

                <table class="table block-shadow white-bg block-border">
                    <thead>
                        <tr>
                            <th class="col-lg-4 table-title">Название таблицы</th>
                            <th class="col-lg-8 table-title"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table %}
                        <tr>
                            {% if row[1] == "title" %}
                                <td class="table-title" colspan="2">
                                    <strong>
                                        {{ row[0] }}
                                    </strong>
                                </td>
                            {% else %}
                                {% if row[1] == "subtitle" %}
                                    <td class="table-subtitle" colspan="2">
                                        <strong>
                                            {{ row[0] }}
                                        </strong>
                                    </td>
                                {% else %}
                                    <td>{{ row[0] }}</td>
                                {% endif %}

                            {% endif %}

                            {% if row[1] == "text"%}
                                <td>
                                    <input  type="text" class="form-control">
                                </td>
                            {% endif %}
                            {% if row[1] == "num"%}
                                <td>
                                    <input  type="number" class="form-control">
                                </td>
                            {% endif %}
                            {% if row[1] == "date"%}
                                <td>
                                    <input  type="date">
                                </td>
                            {% endif %}

                        </tr>
                        {% endfor %}


                    </tbody>
                </table>



            </div>
            <div>
                <button class="btn btn-success">
                    <div class="fa fa-save"></div>
                    Сохранить
                </button>
            </div>
        </div>

    </div>
</div>